.poll-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .poll-item {
    width: 200px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.poll-button {
  width: 80px;
  height: 30px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.poll-button-blue {
  background-color: blue;
  color: white;
}

.poll-button-green {
  background-color: green;
  color: white;
}

.poll-button-red {
  background-color: red;
  color: white;
}
  
  .chat-messages {
    height: 500px;
    /* width: min(700px, 100%); */
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 10px;  
    /* height: 500px; */
    width: 60%;
    border: 2px solid black;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    overflow-y: auto;
    padding: 50px;
  }
  
  .chat-message {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    /* max-width: 80%; */
    /* background-color: #f1f1f1; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .my-message {
    background-color: #e1ffc7;
    align-self: flex-start;
  }
  
  .other-message {
    background-color: #c7e1ff;
    align-self: flex-end;
  }
  
  .chat-form {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
  }
  
  .chat-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chat-form button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
  }
  